<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="karateTestCases.TestRunner"/>
      <class name="restAssuredTestCases.RestAssuredDemo"/>
      <class name="CommonClassReusables.Utility"/>
      <class name="webDriverTestCases.UI_Automation"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
